<div class="p-grid p-justify-center">
  <div class="p-col-10 p-md-8 p-lg-6">
    <div class="card welcome-card">
      <h1 class="welcome-title">Welcome to Our ECM Website</h1>
      <p class="welcome-message">{{ welcomeMessage }}</p>
      <div class="button-group">
        <p-button label="Sign In" icon="pi pi-sign-in" styleClass="p-button-raised p-button-primary" routerLink="/signin"></p-button>
        <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-raised p-button-success" routerLink="/signup"></p-button>
      </div>
    </div>
  </div>
</div>
